<div *ngIf="loaded">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <ul>
      <li class="navbar-brand">
        <h1>
          <span class="badge badge-secondary">#{{cryptoDetails.rank}}</span>
          {{cryptoDetails.name}}
        </h1>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <img width="20px" height="20px" alt="*" [src]=getImageSource()>
      </li>
    </ul>
  </nav>
  <div class="detailView">
    <div>
      <h2>
        <b>Price:</b> {{cryptoDetails.price_usd | currency}}
      </h2>
    </div>
    <div>
      <b>Market Cap: </b>{{cryptoDetails.market_cap_usd | currency}}
    </div>
  </div>
</div>