ul{
    margin-bottom: 0;
    padding-left: 0;
}
.detailView{
    margin:20px 0;
    text-align: center;
}
.dOnly{
    cursor: pointer;
    @media only screen and (max-width: 480px) {
        display: none;
    }
}