<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <ul>
    <li class="navbar-brand myHead">
      <h2>CryptoWatcher</h2>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <i class="material-icons myIcon" (click)="globalData()">info_outline</i>
    </li>
  </ul>

</nav>
<div class="mainComponent">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          <select (change)="requestedNumberChanged($event.target.value)">
            <option [selected]="isSelected('10')" value="#10">#10</option>
            <option [selected]="isSelected('15')" value="#15">#15</option>
            <option [selected]="isSelected('50')" value="#50">#50</option>
            <option [selected]="isSelected('100')" value="#100">#100</option>
          </select>
        </th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cryptoCurrency of CryptoCurrencies" (click)="loadDetails(cryptoCurrency.id)" class="cryptoTableRow">
        <th scope="row">{{cryptoCurrency.rank}}</th>
        <td>{{cryptoCurrency.name}}</td>
        <td>{{cryptoCurrency.price_usd | currency}}</td>
      </tr>
    </tbody>
  </table>
</div>